{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SyncRead</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
  <script src="{% static 'reader/node_modules/epubjs/dist/epub.js' %}"></script>

</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

  <div class="row fixed-top">
    <div class="col">
        <button class="btn"><i class="bi bi bi-bookmark"></i></button>
        <div class="d-flex flex-column align-items-end justify-content-center" style="height: 100vh;">
            <button id="prev" class="btn"><i class="bi bi bi-chevron-left"></i></button>
        </div>
    </div>
    <div class="col-10">
        <div class="container d-flex flex-column justify-content-center rounded-3 mt-2" style="height: 100vh;">
            <div id="viewer"></div>
        </div>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end">
            <a href="{% url 'books' %}" class="btn"><i class="bi bi-x-lg"></i></a>
        </div>
        <div class="d-flex flex-column align-items-start justify-content-center" style="height: 100vh;">
            <div>
                <button onclick="closePage()" id="next" class="btn"><i class="bi bi-chevron-right"></i></button>
            </div>
        </div>
    </div>
  </div>
  
  <script>
    var book = ePub("http://127.0.0.1:8000/{{path }}");
    var rendition = book.renderTo("viewer", {
      width: "100%",
      height: 600
    });

    // Проверяем наличие сохраненной страницы
    if (localStorage.getItem("savedLocation") !== null) {
      var savedLocation = JSON.parse(localStorage.getItem("savedLocation"));
      rendition.display(savedLocation).then(function() {
        // -- do stuff after displaying saved page
      });
    } else {
      var displayed = rendition.display();
      displayed.then(function(renderer){
        // -- do stuff
      });
    }

    // Navigation loaded
    book.loaded.navigation.then(function(toc){
      // console.log(toc);
    });

    var next = document.getElementById("next");
    next.addEventListener("click", function(){
      rendition.next();
      saveLocation();
    }, false);

    var prev = document.getElementById("prev");
    prev.addEventListener("click", function(){
      rendition.prev();
      saveLocation();
    }, false);

    var keyListener = function(e){

      // Left Key
      if ((e.keyCode || e.which) == 37) {
        rendition.prev();
        saveLocation();
      }

      // Right Key
      if ((e.keyCode || e.which) == 39) {
        rendition.next();
        saveLocation();
      }

    };

    rendition.on("keyup", keyListener);
    document.addEventListener("keyup", keyListener, false);

    // Функция для сохранения текущей страницы
    function saveLocation() {
      var location = rendition.location.end.cfi;
      localStorage.setItem("savedLocation", JSON.stringify(location));
    }


  </script>

</body>
</html>
